<a href="https://colab.research.google.com/github/harshrjain/EDA/blob/main/21BDS0013.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
print(1)

1

Data Exploration and Initial Analysis

The dataset was imported and examined to understand its structure, data types, and completeness. Key operations included displaying sample records, generating summary statistics, identifying missing values, and analyzing categorical feature diversity. These steps provided a foundation for further data transformations and insights.

In [70]:
import pandas as pd
import numpy as np

In [71]:
# 1. Import the dataset
df = pd.read_csv("https://raw.githubusercontent.com/harshrjain/EDA/refs/heads/main/CreditCard.csv")

In [72]:
# 2. Preview the first 10 records to understand the data structure
print("Displaying the first 10 rows of the dataset:")
display(df.head(10))

Displaying the first 10 rows of the dataset:

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [73]:
# 3. Get an overview of the dataset, including column data types and non-null values
print("\nOverview of the dataset:")
df.info()

Overview of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rownames     1319 non-null   int64
 1   card         1319 non-null   object
 2   reports      1319 non-null   int64
 3   age          1319 non-null   float64
 4   income       1319 non-null   float64
 5   share        1319 non-null   float64
 6   expenditure  1319 non-null   float64
 7   owner        1319 non-null   object
 8   selfemp      1319 non-null   object
 9   dependents   1319 non-null   int64
 10  months       1319 non-null   int64
 11  majorcards   1319 non-null   int64
 12  active       1319 non-null   int64
dtypes: float64(4), int64(6), object(3)
memory usage: 134.1+ KB

In [74]:
# 4. Generate descriptive statistics for numerical columns
print("\nStatistical summary of numerical columns:")
display(df.describe())

Statistical summary of numerical columns:

,rownames,reports,age,income,share,expenditure,dependents,months,majorcards,active
count,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000,1319.000000
mean,660.000000,0.456406,33.213103,3.365376,0.068732,185.057071,0.993935,55.267627,0.817286,6.996967
std,380.906813,1.345267,10.142783,1.693902,0.094656,272.218917,1.247745,66.271746,0.386579,6.305812
min,1.000000,0.000000,0.166667,0.210000,0.000109,0.000000,0.000000,0.000000,0.000000,0.000000
25%,330.500000,0.000000,25.416670,2.243750,0.002316,4.583333,0.000000,12.000000,1.000000,2.000000
50%,660.000000,0.000000,31.250000,2.900000,0.038827,101.298300,1.000000,30.000000,1.000000,6.000000
75%,989.500000,0.000000,39.416670,4.000000,0.093617,249.035800,2.000000,72.000000,1.000000,11.000000
max,1319.000000,14.000000,83.500000,13.500000,0.906320,3099.505000,6.000000,540.000000,1.000000,46.000000

In [75]:
# 5. Identify any missing values in the dataset
print("\nChecking for missing values in each column:")
print(df.isnull().sum())

Checking for missing values in each column:
rownames       0
card           0
reports        0
age            0
income         0
share          0
expenditure    0
owner          0
selfemp        0
dependents     0
months         0
majorcards     0
active         0
dtype: int64

In [76]:
# 6. Examine the uniqueness of categorical features
categorical_cols = df.select_dtypes(include=['object']).columns
print("\nNumber of unique values in categorical features:")
for col in categorical_cols:
    print(f"{col}: {df[col].unique()} unique values")

Number of unique values in categorical features:
card: ['yes' 'no'] unique values
owner: ['yes' 'no'] unique values
selfemp: ['no' 'yes'] unique values

Data Cleaning and Transformation

Performed necessary data preprocessing steps, including handling missing values, encoding categorical variables, and deriving new features. Additional transformations such as binning numerical values, merging datasets, and filtering records were applied to enhance data usability for further analysis.

In [77]:
import warnings

# 1. Divide the dataset into two sections and recombine
df1 = df.iloc[:len(df)//2]
df2 = df.iloc[len(df)//2:]
df_combined = pd.concat([df1, df2], ignore_index=True)
df_combined.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [78]:
# 2. Merge datasets horizontally
df_side_by_side = pd.concat([df1, df2], axis=1)
df_side_by_side.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,...,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1.0,yes,0.0,37.66667,4.5200,0.033270,124.983300,yes,no,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,yes,0.0,33.25000,2.4200,0.005217,9.854167,no,no,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,yes,0.0,33.66667,4.5000,0.004156,15.000000,yes,no,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,yes,0.0,30.50000,2.5400,0.065214,137.869200,no,no,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,yes,0.0,32.16667,9.7867,0.067051,546.503300,yes,no,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6.0,yes,0.0,23.25000,2.5000,0.044438,91.996670,no,no,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7.0,yes,0.0,27.91667,3.9600,0.012576,40.833330,no,no,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8.0,yes,0.0,29.16667,2.3700,0.076434,150.790000,yes,no,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9.0,yes,0.0,37.00000,3.8000,0.245628,777.821700,yes,no,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10.0,yes,0.0,28.41667,3.2000,0.019780,52.580000,no,no,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# 3. Perform an inner join using 'owner' as a common column
df_merge_inner = df1.merge(df2, on='owner', how='inner')
df_merge_inner.head(10)

,rownames_x,card_x,reports_x,age_x,income_x,share_x,expenditure_x,owner,selfemp_x,dependents_x,...,reports_y,age_y,income_y,share_y,expenditure_y,selfemp_y,dependents_y,months_y,majorcards_y,active_y
0,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,23.25000,1.434,0.000837,0.000000,no,0,12,1,6
1,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,38.91667,3.680,0.019523,59.619170,no,3,44,1,11
2,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,23.83333,2.550,0.000471,0.000000,no,2,24,1,0
3,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,4,37.25000,3.500,0.000343,0.000000,no,2,15,1,9
4,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,28.25000,2.300,0.164496,315.201700,no,1,13,0,4
5,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,41.25000,3.600,0.152524,457.487500,no,3,68,1,10
6,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,34.75000,2.000,0.003300,4.583333,no,2,38,1,6
7,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,31.50000,2.850,0.313700,745.038300,no,2,30,1,11
8,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,24.00000,3.095,0.069859,180.177500,no,1,12,1,23
9,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,25.16667,1.500,0.089805,111.839200,no,1,14,1,19

In [80]:
# 4. Apply a left join to preserve all entries from the first section
df_merge_left = df1.merge(df2, on='owner', how='left')
df_merge_left.head(10)

,rownames_x,card_x,reports_x,age_x,income_x,share_x,expenditure_x,owner,selfemp_x,dependents_x,...,reports_y,age_y,income_y,share_y,expenditure_y,selfemp_y,dependents_y,months_y,majorcards_y,active_y
0,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,23.25000,1.434,0.000837,0.000000,no,0,12,1,6
1,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,38.91667,3.680,0.019523,59.619170,no,3,44,1,11
2,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,23.83333,2.550,0.000471,0.000000,no,2,24,1,0
3,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,4,37.25000,3.500,0.000343,0.000000,no,2,15,1,9
4,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,28.25000,2.300,0.164496,315.201700,no,1,13,0,4
5,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,41.25000,3.600,0.152524,457.487500,no,3,68,1,10
6,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,34.75000,2.000,0.003300,4.583333,no,2,38,1,6
7,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,31.50000,2.850,0.313700,745.038300,no,2,30,1,11
8,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,24.00000,3.095,0.069859,180.177500,no,1,12,1,23
9,1,yes,0,37.66667,4.52,0.03327,124.9833,yes,no,3,...,0,25.16667,1.500,0.089805,111.839200,no,1,14,1,19

In [81]:
# 5. Apply a right join to retain all entries from the second section
df_merge_right = df1.merge(df2, on='owner', how='right')
df_merge_right.head(10)

,rownames_x,card_x,reports_x,age_x,income_x,share_x,expenditure_x,owner,selfemp_x,dependents_x,...,reports_y,age_y,income_y,share_y,expenditure_y,selfemp_y,dependents_y,months_y,majorcards_y,active_y
0,1,yes,0,37.66667,4.5200,0.033270,124.98330,yes,no,3,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
1,3,yes,0,33.66667,4.5000,0.004156,15.00000,yes,no,4,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
2,5,yes,0,32.16667,9.7867,0.067051,546.50330,yes,no,2,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
3,8,yes,0,29.16667,2.3700,0.076434,150.79000,yes,no,0,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
4,9,yes,0,37.00000,3.8000,0.245628,777.82170,yes,no,0,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
5,11,yes,0,30.50000,3.9500,0.078025,256.66420,yes,no,1,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
6,12,no,0,42.00000,1.9800,0.000606,0.00000,yes,no,2,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
7,13,no,0,30.00000,1.7300,0.000694,0.00000,yes,no,1,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
8,14,yes,0,28.83333,2.4500,0.038796,78.87417,yes,no,0,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6
9,15,yes,0,35.33333,1.9080,0.026907,42.61500,yes,no,2,...,0,23.25,1.434,0.000837,0.0,no,0,12,1,6

In [82]:
# 6. Transform the dataset structure using stack and unstack
reshaped_df = df[['income', 'age', 'expenditure']]
stacked = reshaped_df.stack()
stacked.unstack().head(10)

   income       age  expenditure
0  4.5200  37.66667   124.983300
1  2.4200  33.25000     9.854167
2  4.5000  33.66667    15.000000
3  2.5400  30.50000   137.869200
4  9.7867  32.16667   546.503300
5  2.5000  23.25000    91.996670
6  3.9600  27.91667    40.833330
7  2.3700  29.16667   150.790000
8  3.8000  37.00000   777.821700
9  3.2000  28.41667    52.580000

In [83]:
# 7. Combine multiple Series objects
df_series1 = pd.Series([100, 200, 300], index=['A', 'B', 'C'])
df_series2 = pd.Series([400, 500, 600], index=['D', 'E', 'F'])
df_combined_series = pd.concat([df_series1, df_series2], keys=['Group1', 'Group2'])
df_combined_series.unstack()

            A      B      C      D      E      F
Group1  100.0  200.0  300.0    NaN    NaN    NaN
Group2    NaN    NaN    NaN  400.0  500.0  600.0

In [84]:
# 8. Identify redundant entries in the dataset
df.duplicated().sum()

0

In [85]:
# 9. Eliminate duplicate records to ensure uniqueness
df_no_duplicates = df.drop_duplicates()
df_no_duplicates.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [86]:
# 10. Modify categorical values by mapping them to numerical representations
df_replace = df.copy()
warnings.simplefilter(action='ignore', category=FutureWarning)
df_replace.replace({'Male': 0, 'Female': 1, 'Other': 2}, inplace=True)
df_replace.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [87]:
# 11. Identify missing values in each column
df.isnull().sum()

rownames       0
card           0
reports        0
age            0
income         0
share          0
expenditure    0
owner          0
selfemp        0
dependents     0
months         0
majorcards     0
active         0
dtype: int64

In [88]:
# 12. Remove entries with missing values
df_cleaned = df.dropna()
df_cleaned.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [89]:
# 13. Fill missing values with zero for numerical consistency
df_filled = df.fillna(0)
df_filled.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [90]:
# 14. Use forward fill to propagate last valid observation forward
df_ffill = df.fillna(method='ffill')
warnings.simplefilter(action='ignore', category=FutureWarning)
df_ffill.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [91]:
# 15. Apply backward fill to use the next valid observation
df_bfill = df.fillna(method='bfill')
warnings.simplefilter(action='ignore', category=FutureWarning)
df_bfill.head(10)

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,yes,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,2,yes,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,3,yes,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,4,yes,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,5,yes,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5
5,6,yes,0,23.25000,2.5000,0.044438,91.996670,no,no,0,54,1,1
6,7,yes,0,27.91667,3.9600,0.012576,40.833330,no,no,2,7,1,5
7,8,yes,0,29.16667,2.3700,0.076434,150.790000,yes,no,0,77,1,3
8,9,yes,0,37.00000,3.8000,0.245628,777.821700,yes,no,0,97,1,6
9,10,yes,0,28.41667,3.2000,0.019780,52.580000,no,no,0,65,1,18

In [92]:
# 16. Categorize numerical data into predefined bins
bins = [0, 25, 40, 60, 100]
labels = ['Young', 'Adult', 'Middle-aged', 'Senior']
df['Age_Group'] = pd.cut(df['age'], bins, labels=labels)
df['Age_Group'].value_counts()

Age_Group
Adult          729
Young          287
Middle-aged    280
Senior          23
Name: count, dtype: int64

In [93]:
# 17. Divide numerical values into quartiles for better segmentation
df['Income_Quartile'] = pd.qcut(df['income'], 4)
df['Income_Quartile'].value_counts()

Income_Quartile
(2.9, 4.0]        357
(2.244, 2.9]      332
(0.209, 2.244]    330
(4.0, 13.5]       300
Name: count, dtype: int64

In [94]:
# 18. Filter out customers with high expenditure
df[df['expenditure'] > 1500]

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active,Age_Group,Income_Quartile
29,30,yes,0,40.00000,5.5000,0.334460,1532.773,yes,no,4,74,1,19,Adult,"(4.0, 13.5]"
56,57,yes,0,34.33333,4.8000,0.474508,1898.033,no,no,3,12,1,1,Adult,"(4.0, 13.5]"
446,447,yes,0,51.58333,12.4999,0.297555,3099.505,yes,no,1,120,1,21,Middle-aged,"(4.0, 13.5]"
460,461,yes,1,33.91667,2.0000,0.906320,1510.534,no,no,0,12,1,5,Adult,"(0.209, 2.244]"
518,519,yes,0,38.83333,6.5000,0.289787,1569.677,yes,no,4,117,1,18,Adult,"(4.0, 13.5]"
586,587,yes,1,29.83333,3.7000,0.595776,1836.976,no,no,0,24,1,7,Adult,"(2.9, 4.0]"
623,624,yes,0,27.16667,2.6000,0.877846,1902.000,no,no,0,4,1,7,Adult,"(2.244, 2.9]"
762,763,yes,0,35.25000,6.0000,0.458235,2291.174,no,no,2,10,1,0,Adult,"(4.0, 13.5]"
764,765,yes,0,44.50000,9.0000,0.259993,1949.862,no,no,2,4,1,7,Middle-aged,"(4.0, 13.5]"
1030,1031,yes,0,32.66667,3.6500,0.538365,1637.527,yes,no,1,32,1,7,Adult,"(2.9, 4.0]"
1063,1064,yes,0,34.91667,5.0000,0.425845,1774.356,yes,no,3,36,1,7,Adult,"(4.0, 13.5]"
1180,1181,yes,0,23.16667,2.6000,0.824551,1786.277,no,no,0,4,1,0,Young,"(2.244, 2.9]"
1188,1189,yes,0,47.33333,10.4000,0.230948,2001.547,yes,no,2,9,0,0,Middle-aged,"(4.0, 13.5]"

In [95]:
# 19. Extract records with significantly high expenditure
df[df['expenditure'] > 2000]

,rownames,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active,Age_Group,Income_Quartile
446,447,yes,0,51.58333,12.4999,0.297555,3099.505,yes,no,1,120,1,21,Middle-aged,"(4.0, 13.5]"
762,763,yes,0,35.25000,6.0000,0.458235,2291.174,no,no,2,10,1,0,Adult,"(4.0, 13.5]"
1188,1189,yes,0,47.33333,10.4000,0.230948,2001.547,yes,no,2,9,0,0,Middle-aged,"(4.0, 13.5]"

In [96]:
# 11. Compute key statistics for 'income'
mean_income = df['income'].mean()
sum_income = df['income'].sum()
cumsum_income = df['income'].cumsum()

In [97]:
# 12. Display calculated income statistics
print(f"Average Income: {mean_income}")
print(f"Total Income: {sum_income}")
print(f"Cumulative Income:")
print(cumsum_income.head(10))

Average Income: 3.3653760424564068
Total Income: 4438.9310000000005
Cumulative Income:
0     4.5200
1     6.9400
2    11.4400
3    13.9800
4    23.7667
5    26.2667
6    30.2267
7    32.5967
8    36.3967
9    39.5967
Name: income, dtype: float64